.footer {
    &__wrap {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: clamp(toEm(50, 16), 10vw, toEm(100, 16));
    }
    &__col {
        display: flex;
        flex-direction: column;
        row-gap: toEm(16, 16);
        list-style-type: none;
    }
    &__logo {
        margin-bottom: toEm(16, 16);
        display: flex;
        align-items: center;
        column-gap: toEm(15, 16);
        text-decoration: none;
        &Name {
            font-size: toRem(28);
            line-height: toPrc(46, 28);
            letter-spacing: 0.02em;
            font-weight: 600;
            color: $text-secondary;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: toEm(24, 16);
    }
    &__contact {
        display: flex;
        align-items: center;
        column-gap: toEm(16, 16);
        & strong {
            font-size: toRem(16);
            line-height: toPrc(26, 16);
            letter-spacing: 0.05em;
        }
        &Text {
            text-decoration: none;
            font-size: toRem(16);
            line-height: toPrc(26, 16);
            letter-spacing: 0.05em;
            color: $text-secondary;
        }
    }
    &__colHeading {
        margin-bottom: toEm(16, 20);
        font-size: toRem(20);
        line-height: toPrc(30, 20);
        letter-spacing: 0.05em;
    }
    &__colLink {
        text-decoration: none;
        font-size: toRem(16);
        line-height: toPrc(26, 16);
        letter-spacing: 0.05em;
        color: $text-secondary;
    }
    &__copyright {
        display: inline-block;
        margin-top: clamp(toEm(40, 16), 5vw, toEm(64, 16));
        font-size: toRem(16);
        line-height: toPrc(26, 16);
        letter-spacing: 0.05em;
        opacity: 0.4;
    }
}