.footer {
    &__wrap {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: clamp(toem(50, 16), 10vw, toem(100, 16));
        @media (max-width: 610px) {
            grid-template-columns: 1fr 1fr;
            row-gap: toem(10, 16);
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        row-gap: toem(16, 16);
        list-style-type: none;
        &:first-child {
            @media (max-width: 610px) {
                grid-column: span 2;
            }
        }
    }
    &__logo {
        margin-bottom: toem(16, 16);
        display: flex;
        align-items: center;
        column-gap: toem(15, 16);
        text-decoration: none;
        &Name {
            font-size: torem(28);
            line-height: toprc(46, 28);
            letter-spacing: 0.02em;
            font-weight: 600;
            color: $text-secondary;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: toem(24, 16);
    }
    &__contact {
        display: flex;
        align-items: center;
        column-gap: toem(16, 16);
        & strong {
            font-size: torem(16);
            line-height: toprc(26, 16);
            letter-spacing: 0.05em;
        }
        &Text {
            text-decoration: none;
            font-size: torem(16);
            line-height: toprc(26, 16);
            letter-spacing: 0.05em;
            color: $text-secondary;
        }
    }
    &__colHeading {
        margin-bottom: toem(16, 20);
        font-size: torem(20);
        line-height: toprc(30, 20);
        letter-spacing: 0.05em;
        @media (max-width: 610px) {
            margin-bottom: 0;
        }
    }
    &__colLink {
        text-decoration: none;
        font-size: torem(16);
        line-height: toprc(26, 16);
        letter-spacing: 0.05em;
        color: $text-secondary;
    }
    &__copyright {
        display: inline-block;
        margin-top: clamp(toem(40, 16), 5vw, toem(64, 16));
        font-size: torem(16);
        line-height: toprc(26, 16);
        letter-spacing: 0.05em;
        opacity: 0.4;
    }
}