.header {
    padding: toem(40, 16) toem(83, 16) toem(12, 16) toem(83, 16);
    @media (max-width: 567px) {
        padding: toem(20, 16) toem(40, 16) toem(12, 16) toem(40, 16);
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
        width: toem(32, 16);
        height: toem(32, 16);
        background-image: url('./assets/icons/burger-menu.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}