@font-face {
    font-family: 'icons';
    src:
        url('./assets/fonts/icons.ttf?fn1nh0') format('truetype'),
        url('./assets/fonts/icons.woff?fn1nh0') format('woff'),
        url('./assets/icons/icons.svg?fn1nh0#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
    content: "\e900";
}

.icon-burger-menu:before {
    content: "\e901";
}