.modal {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    &_shown {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form {
        position: relative;
        width: clamp(toem(260, 16), 80vw, toem(540, 16));
        background-color: $bg-primary;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        padding: clamp(toem(20, 16), 5vw, toem(56, 16));
        &__title {
            font-size: torem(20);
            line-height: toprc(30, 20);
            letter-spacing: 0.04em;
            color: $text-primary;
            text-transform: uppercase;
        }
        &__body {
            margin-top: clamp(toem(20, 16), 5vw, toem(48, 16));
            display: flex;
            flex-direction: column;
            row-gap: toem(32, 16);
        }
        &__label {
            display: flex;
            flex-direction: column;
            row-gap: toem(8, 16);
            cursor: pointer;
            &Text {
                font-size: torem(16);
                line-height: toprc(30, 16);
                letter-spacing: 0.04em;
                color: rgba($text-primary, 0.8);
            }
        }
        &__input {
            width: 100%;
            padding: toem(21, 16) clamp(toem(20, 16), 5vw, toem(42, 16));
            height: toem(72, 16);
            background-color: $bg-primary;
            font-size: torem(16);
            line-height: toprc(30, 16);
            letter-spacing: 0.04em;
            color: rgba($text-primary, 0.4);
            border: 1px solid rgba(#356EAD, 0.4);
            border-radius: 10px;
            &_error {
                display: inline-block;
                width: 100%;
                background: #ac3030;
                color: $text-secondary;
                padding: toem(5, 16);
                font-size: torem(16);
                line-height: 100%;
                border-radius: 10px;
            }
            &::placeholder {
                color: rgba($text-primary, 0.4);
                opacity: 1;
            }
        
            &::-ms-input-placeholder {
                color: rgba($text-primary, 0.4);
                opacity: 1;
            }
        }
        &__message {
            height: toem(144, 16);
            padding: toem(21, 16) clamp(toem(20, 16), 5vw, toem(36, 16));
            border-radius: 10px;
            background-color: $bg-primary;
            resize: none;
            border: 1px solid rgba(#356EAD, 0.4);
            color: rgba($text-primary, 0.4);
            font-size: torem(16);
            &::placeholder {
                color: rgba($text-primary, 0.4);
                opacity: 1;
            }
            &::-ms-input-placeholder {
                color: rgba($text-primary, 0.4);
                opacity: 1;
            }
        }
        &__submit {
            filter: drop-shadow(5px 10px 20px rgba(16, 112, 177, 0.2));
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border: none;
            border-radius: 10px;
            background-color: $bg-secondary;
            color: $text-secondary;
            text-transform: uppercase;
            font-weight: 600;
            padding: toem(23, 16) 0;
            cursor: pointer;
        }
        &__close {
            position: absolute;
            text-align: center;
            top: toem(20, 40);
            right: toem(20, 40);
            font-size: torem(40);
            line-height: 100%;
            cursor: pointer;
        }
    }
}