@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Light.woff2') format('woff2'),
        url('./assets/fonts/Gilroy-Light.woff') format('woff'),
        url('./assets/fonts/Gilroy-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'), 
        url('./assets/fonts/Gilroy-Regular.woff') format('woff'), 
        url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('./assets/fonts/Gilroy-Medium.woff') format('woff'),
        url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Gilroy-SemiBold.woff') format('woff'),
        url('./assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('./assets/fonts/Gilroy-Bold.woff') format('woff'),
        url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: Galien;
    src: url('./assets/fonts/TRYGalien-Bold.woff2') format('woff2'),
        url('./assets/fonts/TRYGalien-Bold.woff') format('woff'),
        url('./assets/fonts/TRYGalien-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}