@import './styles/utils/normalize';
@import './styles/utils/fonts';
@import './styles/utils/vars';
@import './styles/utils/func';

* {
    font-family: Gilroy, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-primary;
}

h1, p {
    margin-block: 0;
}

.container {
    max-width: toem(960, 16);
    margin: 0 auto;
    padding: 0 toem(10, 16);
}

.scroll_disabled {
    overflow-y: hidden;
}

.popup {
    position: fixed;
    text-align: center;
    bottom: toem(20, 16);
    right: toem(20, 16);
    padding: toem(10, 16);
    border-radius: 10px;
    font-size: torem(18);
    line-height: 100%;
    color: $text-secondary;
    &_error {
        background-color: #ac3030;
    }
    &_success {
        background-color: #46bd3b;
    }
}

@import './styles/header';
@import './styles/promo';
@import './styles/services';
@import './styles/clients';
@import './styles/cta';
@import './styles/footer';
@import './styles/modal';